:root {
  --basic-black: #000000;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-extra-dark-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-extra-dark-green: #00AA62;
  --basic-yellow: #EFC849;
  --basic-dark-yellow: #EAB534;
  --basic-extra-dark-yellow: #E5A722;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;
  --basic-neutral-background-nav: #EEEEEE;
  --special: #663d15;
  --basic-grey: #E1E1E1;
  --basic-light-grey: #EEEEEE;
  --basic-dark-grey: #DFDFDF;
  --basic-extra-dark-grey: #D5D5D5;
}

.page-body {
  /* width: 1200px; */
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  /* background-image: url("img/bg.jpg"); */
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;

}

.page-body h2 {
  display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  height: 355px;
  margin: 0px;
  margin-bottom: -160px;
  background-color: var(--basic-neutral-background-nav);
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-top: 49px;
}

/* Main navigation */

/* .main-header-bar {
  background-color: var(--basic-white);
  background-color: var(--basic-neutral-background-nav);
} */

/* .main-navigation-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

.main-navigation-wrapper {

  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.main-navigation {

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-white);
  /* background-color: transparent; */
  background-color: var(--basic-neutral-background-nav);
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.cart-navigation {
  width: 115px;
  margin-top: 75px;
}

.cart-navigation .cart-link {
  padding-left: 50px;
  position: relative;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 15px;
  height: 11px;
  background-image: url("../img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 437px;
  min-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 75px;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-neutral-background-nav);
}

/* User navigation */

.site-navigation a,
.cart-navigation a {
  color: var(--basic-black);
  display: block;
}

/* .site-navigation a[href="#"] {
  text-decoration: underline var(--basic-red);
} */

.site-navigation a[href="#"] {
  position:relative;
  /* text-decoration: underline var(--basic-red); */
}

.site-navigation a[href="#"]::after {
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  background:var(--basic-red);
  width: 73px;
  height: 2px;
  bottom: -13px;
}

.cart-navigation a:hover, .site-navigation a:hover {
  color: var(--basic-red);
}

.cart-navigation a:focus, .site-navigation a:focus {
  opacity: 0.3;
}

.main-header-logo img:hover {
  opacity: 0.7;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.site-navigation a:hover, .site-navigation a:focus, .cart-navigation a:hover, .cart-navigation a:focus {
  background-color: var(--basic-neutral-background-nav);
}

/* Container */

.container {
  /* width: 1157px; */
  /* width: 1440px; */
  margin: 0px;
  padding: 0px;
  /* margin: 0 auto;
  padding: 0 20px; */
  /* background-color: var(--basic-neutral-background-nav); */
}

/* Features */

.features {
  /* width: 1200px; */
  background-color: var(--basic-neutral-background-nav);
}

.features {
  margin-bottom: 10px;
}

.features-wrapper {

  display: flex;
  justify-content: space-between;
  /* width: 1200px; */
  width: 1157px;

  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 80px;
}

.feature-item {
  text-align: center;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: none;
}

.feature-item {
  text-align: left;
}

.feature-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.features .button {
  height: 50px;
  width: 240px;
  background: var(--basic-red);
}

/* Services */

.services {
  /* margin-bottom: 21px; */
  width: 1100px;
  margin: 0 auto;
  /* padding: 0 20px; */
  /* margin: 140px; */
}

.services-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  /* margin: 140px; */
  padding: 0;
  /* width: 1100px; */
  margin-bottom: 121px;
}

.services-item {
  width: 300px;
  text-align: left;
}

.services-item {
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.services-item p {
  text-transform: none;
}



/* Button */

/* .button {
  margin-left: auto;
    margin-right: auto;
} */

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  height: 50px;
  width: 160px;
  border: none;
  border-radius: 3px;
}

.grey-button {
  width: 260px;
  color: var(--basic-black);
}

.grey-button:hover {
  background: var(--basic-dark-grey);
}

.grey-button:focus, .grey-button:active {
  /* color: #00000030; */
  background: var(--basic-extra-dark-grey);
  color: var(--basic-black*0.3);
}

.red-button {
  background: var(--basic-red);
}

.green-button {
  background: var(--basic-green);
}

.yellow-button {
  background: var(--basic-yellow);
}

.red-button:hover {
  background: var(--basic-dark-red);
}

.red-button:focus {
  background: var(--basic-extra-dark-red);
  color: #ffffff30;
}

.green-button:hover {
  background: var(--basic-dark-green);
}

.green-button:focus {
  background: var(--basic-extra-dark-green);
  color: #ffffff30;
}

.yellow-button:hover {
  background: var(--basic-dark-yellow);
}

.yellow-button:focus {
  background: var(--basic-extra-dark-yellow);
  color: #ffffff30;
}

/* .button span:focus {
  opacity: 0.3;
} */

/* Company */

.company {
  width: 1174px;
  height: 413px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 126px;
}

.company-wrapper {
  /* align-self: baseline; */
  align-self: flex-end;
}

.company-pride-list-wrapper {
  align-self: flex-end;
}

/* .company-pride-list {
  margin-top: 0px;
} */

.company-pride-list-wrapper>p {
  text-align: center;
  /* width: 1200px;*/
  margin: 0px;
}

.company-pride-list-wrapper p {
  /* width: 1200px;*/
  margin: 0px;
}

.company-pride-list {
  display: flex;
  justify-content: space-between;
  width: 360px;
  /* column-gap: 10px; */
  /* margin-top: 0;
   */
  /* justify-content: top; */
  /* margin-bottom: 0px; */
  /* vertical-align: top; */
  /* text-align: center; */
  padding-left: 0;
}

.company h2 {
  display: none;
}

.company h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: none;
}

.company p {
  text-transform: none;
}

.company h4 {
  font-weight: 500;
}

.company p {
  font-weight: 700;
  text-transform: uppercase;
}

.company-list {
  list-style: none;
  text-transform: none;
  /* outline: 5px solid #ff0000; */
}

.company-item {
  position: relative;
}

.company-item::before {
  content: "";
  position: absolute;
  bottom: 12px;
  width: 25px;
  height: 2px;
  margin-left: -36px;
  background-color: var(--basic-red);
}

.company-pride-list {
  list-style: none;
}

.company-pride-item .advantage {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.company-pride-item .percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.percent span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

/* Clients */

.clients {
  width: 1159px;
  /* width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

.clients-list {

  display: flex;
  justify-content: space-between;

  margin-bottom: 80px;
  /* margin: 140px;
  padding: 0; */
}

.clients-list {
  list-style: none;
}

.clients-list .barbershop_logo {
  opacity: 0.2;
}

.clients-list .barbershop_logo:hover {
  opacity: 1;
}

.clients-list .barbershop_logo:focus {
  opacity: 0.1;
}

/* _______________________________________________________________ */

.clients-list .htmlacademy_logo {
  opacity: 0.2;
}

.clients-list .htmlacademy_logo:hover {
  opacity: 1;
}

.clients-list .htmlacademy_logo:focus {
  opacity: 0.1;
}

/* ------------------------------------------------------------------- */

.clients-list .pink_logo {
  opacity: 0.2;
}

.clients-list .pink_logo:hover {
  opacity: 1;
}

.clients-list .pink_logo:focus {
  opacity: 0.1;
}

/* ------------------------------------------------------------------- */

.clients-list .mishka_logo {
  opacity: 0.2;
}

.clients-list .mishka_logo:hover {
  opacity: 1;
}

.clients-list .mishka_logo:focus {
  opacity: 0.1;
}

/* ------------------------------------------------------------------- */

/* Main footer */

.main-footer {
  /* width: 1440px; */
  margin: 0px;
  padding: 0px;
}

.footer-wrapper {
  /* width: 1440px; */
  margin: 0px;
  padding: 0px;
}

.footer-address-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-map {
  margin: 0;
  padding: 0;
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

/* Contacts */

.footer-contacts {
  width: 319px;
  height: 308px;
  margin-left: 140px;
  /* text-align:center; */
  /* vertical-align: middle; */
  background-color: var(--basic-white);
  grid-column: 1 / 1;
  grid-row: 1 / -1;
  z-index: 10;
  margin-top: 54px;
  padding-left: 20px;
  /* justify-self: center; */
}

/* .footer-contacts div {
  justify-self: center;
} */

/* .footer-address-wrapper .footer-contacts {
  vertical-align: middle;
} */

.footer-address-wrapper {
  margin-bottom: 68px;
  /* margin-top: 54px;
  vertical-align: middle; */
}

.footer-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.footer-contacts p {
  text-transform: none;
}

.footer-contacts .button {
  height: 50px;
  width: 219px;
}

.footer-slogan {
  padding-left: 139px;
}

.footer-slogan h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
  margin-left: 0;
}

.footer-slogan p {
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}

/* Social button */

.footer-social-slogan-wrapper {
  width: 1060px;
  /* width: 1200px; */
  height: 81px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 261px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .footer-social {
  margin-right: 140px;
} */

/* .footer-slogan {
  padding-left: 139px;
} */

.footer-slogan h2 {
  display: inline;
}

.social-button {
  width: 81px;
  height: 81px;
}


/* Modal */

.modal-description {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  text-transform: none;
}

.feedback-form {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
}

.feedback-form .button {
  height: 50px;
  width: 259px;
}

.feedback-form input, textarea {
  border: 2px solid #D7DCDE;
}

.feedback-form input:hover, textarea:hover {
  border-color: #B4B9BB;
}

.feedback-form input:focus, textarea:focus {
  border-color: var(--basic-black);
}

/* .modal {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
} */

/* Pagination" */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-neutral-background-nav);
}

.pagination-item a:hover {
  background-color: var(--basic-dark-grey);
}

.pagination-item a:focus {
  background-color: var(--basic-extra-dark-grey);
  color: #ffffff30;
}

.pagination-item-current a, .pagination-item-current a:hover, .pagination-item-current a:focus, .pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* .pagination-item-next div a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  vertical-align:text-bottom;
  color: var(--basic-black);
} */

a.pagination-item-next {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: var(--basic-neutral-background-nav);
  text-align: center;
  color: var(--basic-black);
  /* Цвет текста */
}

a.pagination-item-next:hover {
  background-color: var(--basic-dark-grey);
}

a.pagination-item-next:active {
  background-color: var(--basic-extra-dark-grey);
  color: #ffffff30;
}

/* Catalog */

.manner-list {
  list-style: none;
}

.manner-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #00000030;
}

.manner-item:hover {
  color: #00000060;
}

.manner-item:focus, .manner-item:active {
  color: var(--basic-black);
}

.templates-item-background {
  text-align: center;
}

.templates-item button {
  height: 50px;
  width: 200px;
  background: var(--basic-red);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  border: none;
}

.templates-item-image {
  width: 358px;
  height: 578px;
  margin: 0;
}

.templates-item .rub {
  border-bottom: 1px solid var(--basic-white);
}

.templates-item button:hover {
  background: var(--basic-dark-red);
}

.templates-item button:focus, .templates-item button:active {
  background: var(--basic-extra-dark-red);
}

.templates-item {
  list-style: none;
}

.templates-item-background a {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: var(--basic-black);
}

.templates-item-background a:hover {
  color: var(--basic-red);
}

.templates-item-background a:focus, .templates-item-background a:active {
  color: #00000030;
}

.templates-info {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.templates-item-background {
  height: 231px;
  width: 360px;
  fill-opacity: 1;
  background: var(--basic-neutral-background-nav);
}

.social-button:hover .social-button-background {
  fill: var(--basic-red)
}

.social-button:focus, .social-button:active .social-button-background {
  fill: var(--basic-extra-dark-red)
}

.social-button:focus, .social-button:active .social-button-symbol {
  fill-opacity: 0.3;
}

.filters-features-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: none;
}

.filters-grid-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: none;
}

.container h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: left;
  text-transform: none;
  display: none;
}

.page-catalog {
   width: 1160px;
  margin: 0 auto;
}

.title-line {
  margin-top: 140px;
}

.page-title {
  background-color: var(--basic-neutral-background-nav);
  padding: 0;
}

.page-title-div {
  text-align: center;
}

.main-flex {
  display: flex;
  margin-top: 0px;
}

.order {
display: flex;
flex-direction: row;
margin-top: 55px;
padding-left: 394px;
}

.filters {
  width: 394px;
  margin-top: -75px;
}

.cost-range {
  width: 260px;
  height: 80px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 14px;
}

.slider {
  margin-top: 40px;
}

.max-cost {
  width: 80px;
  height: 38px;
  margin-left: 12px;
  margin-right: 33px;
}

.min-cost {
  width: 80px;
  height: 38px;
  margin-left: 11px;
}

.container h1.page-title {
  display: inline;
}

.order h2:first-child {
  display: inline;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  width: 770px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.order h2, .filters-grid legend, .filters-features legend, .filters-cost {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.cost-range, .max-cost, .min-cost {
  background: var(--basic-neutral-background-nav);
  border: none;
}

.order-list, .filters-grid-list, .filters-features-list {
  list-style: none;
}

.filters-grid-list {
  padding-left: 0px;
}

.filters-features-list {
  padding-left: 0px;
}

fieldset {
  border: none;
}

.max-cost, .min-cost {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.templates-item {
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 31px;
  position: relative;
}

.templates-item:nth-child(2n) {
  margin-right: 0;
}

.templates-item .templates-item-background {
  display: none;
  position: absolute;
  bottom: 0;
}

.templates-item:hover .templates-item-background {
  display: block;
}

/* ----------------------------------------------------------- */

.rub {
  line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid #000;
  display: inline-block;
}

/* ----------------------------------------------------------- */

/* Grid */

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
