:root {
  --basic-black: #000000;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-extra-dark-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-extra-dark-green: #00AA62;
  --basic-yellow: #EFC849;
  --basic-dark-yellow: #EAB534;
  --basic-extra-dark-yellow: #E5A722;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;
  --basic-neutral-background-nav: #EEEEEE;
  --special: #663d15;
  --basic-grey: #E1E1E1;
  --basic-light-grey: #EEEEEE;
  --basic-dark-grey: #DFDFDF;
  --basic-extra-dark-grey: #D5D5D5;
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  /* background-image: url("img/bg.jpg"); */
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body h2 {
  display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  width: 1440px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 70px;
  /* outline: 5px solid rgba(0, 255, 0, 0.7); */
  outline-offset: -5px;
  background-color: var(--basic-neutral-background-nav);
}

/* Main navigation */

/* .main-header-bar {
  background-color: var(--basic-white);
  background-color: var(--basic-neutral-background-nav);
} */

.main-navigation-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-navigation {
  display: grid;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-white);
  /* background-color: transparent; */
  background-color: var(--basic-neutral-background-nav);
}

.main-header-logo {
  /* order: 1; */
  /* outline: 5px solid rgba(255, 0, 0, 0.3); */
  outline-offset: -5px;
}

/* .main-navigation-wrapper {
  background-color: var(--basic-black);
} */

/* .site-navigation {
  list-style: none;
} */

.site-navigation {
  margin: 0;
  padding: 0;
  /* outline: 5px solid rgba(0, 255, 255, 0.3); */
  outline-offset: -5px;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-neutral-background-nav);
}

/* User navigation */

.site-navigation a, .cart-navigation a {
  color: var(--basic-black);
}

.site-navigation a[href="#"] {
  text-decoration: underline var(--basic-red);
}

.cart-navigation a:hover, .site-navigation a:hover {
  color: var(--basic-red);
}

.cart-navigation a:focus, .site-navigation a:focus {
  opacity: 0.3;
}

.main-header-logo img:hover {
  opacity: 0.7;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.site-navigation a:hover, .site-navigation a:focus, .cart-navigation a:hover, .cart-navigation a:focus {
  background-color: var(--basic-neutral-background-nav);
}

/* Container */

.container {
  /* width: 1157px; */
  width: 1440px;
  margin: 0px;
  padding: 0px;
  /* margin: 0 auto;
  padding: 0 10px; */
  /* background-color: var(--basic-neutral-background-nav); */
}

/* Features */

.features {
  background-color: var(--basic-neutral-background-nav);
}

.features {
  margin-bottom: 10px;
  /* outline: 5px solid rgba(255, 0, 0 , 0.3); */
}

.features-wrapper {
  display: grid;
  width: 1157px;
  grid-template-columns: 397px 760px;
  column-gap: 20px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 80px;
}

.feature-item {
  text-align: center;
  /* outline: 5px solid rgba(0, 255, 255 , 0.3); */
  outline-offset: -5px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: none;
}

.feature-item {
  text-align: left;
}

.feature-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.features .button {
  height: 50px;
  width: 240px;
  background: var(--basic-red);
}

/* Services */

/* .services {
  margin-bottom: 21px;
} */

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 140px;
  padding: 0;
  width: 1100px;
  margin-bottom: 121px;
}

.services-item {
  text-align: left;
  /* outline: 5px solid rgba(0, 255, 255, 0.7); */
  outline-offset: -5px;
}

.services-item {
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.services-item p {
  text-transform: none;
}

/* .services-item div {
  height: 50px;
  width: 160px;
  text-align: center;
  border-radius: 3px;
} */

/* Button */

/* .button {
  margin-left: auto;
    margin-right: auto;
} */

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  height: 50px;
  width: 160px;
  border: none;
  border-radius: 3px;
}

.grey-button {
  width: 260px;
  color: var(--basic-black);
}

.grey-button:hover {
  background: var(--basic-dark-grey);
}

.grey-button:focus, .grey-button:active {
  /* color: #00000030; */
  background: var(--basic-extra-dark-grey);
  color: var(--basic-black*0.3);
}

.red-button {
  background: var(--basic-red);
}

.green-button {
  background: var(--basic-green);
}

.yellow-button {
  background: var(--basic-yellow);
}

.red-button:hover {
  background: var(--basic-dark-red);
}

.red-button:focus {
  background: var(--basic-extra-dark-red);
  color: #ffffff30;
}

.green-button:hover {
  background: var(--basic-dark-green);
}

.green-button:focus {
  background: var(--basic-extra-dark-green);
  color: #ffffff30;
}

.yellow-button:hover {
  background: var(--basic-dark-yellow);
}

.yellow-button:focus {
  background: var(--basic-extra-dark-yellow);
  color: #ffffff30;
}

/* .button span:focus {
  opacity: 0.3;
} */

/* Company */

.company {
  width: 1174px;
  display: grid;
  grid-template-columns: 651px 360px;
  column-gap: 163px;
  margin-bottom: 73px;
  margin: 140px;
  padding: 0;
}

.company-pride-list-wrapper>p {
  text-align: center;
}

.company-pride-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.company h2 {
  display: none;
}

.company h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: none;
}

.company p {
  text-transform: none;
}

.company h4 {
  font-weight: 500;
}

.company p {
  font-weight: 700;
  text-transform: uppercase;
}

.company-list {
  list-style: none;
  text-transform: none;
}

.company-pride-list {
  list-style: none;
}

.company-pride-item .advantage {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.company-pride-item .percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.percent span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

/* Clients */

.clients {
  width: 1159px;
}

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: right; */
  /* justify-self: center; */
  column-gap: 95px;
  margin-bottom: 80px;
  margin: 140px;
  padding: 0;
}

.clients-list {
  list-style: none;
}

.clients-list {
  opacity: 0.2;
}

.clients-list:hover {
  opacity: 1;
}

.clients-list:focus {
  opacity: 0.1;
}

/* Main footer */

.main-footer {
  width: 1440px;
  margin: 0px;
  padding: 0px;
}

.footer-wrapper {
  width: 1440px;
  margin: 0px;
  padding: 0px;
}

.footer-address-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-map {
  margin: 0;
  padding: 0;
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

/* Contacts */

.footer-contacts {
  width: 319px;
  height: 308px;
  margin-left: 140px;
  /* text-align:center; */
  /* vertical-align: middle; */
  background-color: var(--basic-white);
  grid-column: 1 / 1;
  grid-row: 1 / -1;
  z-index: 10;
  margin-top: 54px;
  padding-left: 20px;
  /* justify-self: center; */
}

/* .footer-contacts div {
  justify-self: center;
} */

/* .footer-address-wrapper .footer-contacts {
  vertical-align: middle;
} */

.footer-address-wrapper {
  margin-bottom: 68px;
  /* margin-top: 54px;
  vertical-align: middle; */
}

.footer-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.footer-contacts p {
  text-transform: none;
}

.footer-contacts .button {
  height: 50px;
  width: 219px;
}

.footer-slogan h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
}

.footer-slogan p {
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}

/* Social button */

/* .footer-social-item{
  margin: 0;
  padding: 0;
} */

.footer-social-slogan-wrapper {
  width: 1060px;
  height: 81px;
  margin-left: 140px;
  display: grid;
  grid-template-columns: 261px 799px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-slogan {
  padding-left: 139px;
}

.footer-slogan h2 {
  display: inline;
}

/* .social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
} */

/* Modal */

.modal-description {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  text-transform: none;
}

.feedback-form {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
}

.feedback-form .button {
  height: 50px;
  width: 259px;
}

.feedback-form input, textarea {
  border: 2px solid #D7DCDE;
}

.feedback-form input:hover, textarea:hover {
  border-color: #B4B9BB;
}

.feedback-form input:focus, textarea:focus {
  border-color: var(--basic-black);
}

/* .modal {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
} */

/* Pagination" */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-neutral-background-nav);
}

.pagination-item a:hover {
  background-color: var(--basic-dark-grey);
}

.pagination-item a:focus {
  background-color: var(--basic-extra-dark-grey);
  color: #ffffff30;
}

.pagination-item-current a, .pagination-item-current a:hover, .pagination-item-current a:focus, .pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* .pagination-item-next div a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  vertical-align:text-bottom;
  color: var(--basic-black);
} */

a.pagination-item-next {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: var(--basic-neutral-background-nav);
  text-align: center;
  color: var(--basic-black);
  /* Цвет текста */
}

a.pagination-item-next:hover {
  background-color: var(--basic-dark-grey);
}

a.pagination-item-next:active {
  background-color: var(--basic-extra-dark-grey);
  color: #ffffff30;
}

/* Catalog */

.manner-list {
  list-style: none;
}

.manner-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #00000030;
}

.manner-item:hover {
  color: #00000060;
}

.manner-item:focus, .manner-item:active {
  color: var(--basic-black);
}

.templates-item button {
  height: 50px;
  width: 200px;
  background: var(--basic-red);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  border: none;
}

.templates-item .rub {
  border-bottom: 1px solid var(--basic-white);
}

.templates-item button:hover {
  background: var(--basic-dark-red);
}

.templates-item button:focus, .templates-item button:active {
  background: var(--basic-extra-dark-red);
}

.templates-item {
  list-style: none;
}

.templates-item-background a {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: var(--basic-black);
}

.templates-item-background a:hover {
  color: var(--basic-red);
}

.templates-item-background a:focus, .templates-item-background a:active {
  color: #00000030;
}

.templates-info {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.templates-item-background {
  height: 231px;
  width: 360px;
  fill-opacity: 1;
  background: var(--basic-neutral-background-nav);
}

.social-button:hover .social-button-background {
  fill: var(--basic-red)
}

.social-button:focus, .social-button:active .social-button-background {
  fill: var(--basic-extra-dark-red)
}

.social-button:focus, .social-button:active .social-button-symbol {
  fill-opacity: 0.3;
}

.filters-features-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: none;
}

.filters-grid-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: none;
}

.container h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: left;
  text-transform: none;
  display: none;
}

/* div.page-title {
  background-color: var(--basic-neutral-background-nav);
  text-align: center;
  margin-bottom: 8px;
} */

/* div.page-title h1{

  display:inline;
} */

.page-catalog {
  width: 1160px;
  margin-left: 140px;
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

/* h1.page-title {
  grid-column: 1 / -1;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
} */

.container h1.page-title {
  display: inline;
}

.order h2:first-child {
  display: inline;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}



.order {
  grid-column: 1 / -1;
  margin-bottom: 40px;
  padding: 0;
  margin: 0;

}

.templates {
  margin-left: 60px;
}

/* div.title-line {
  width: 108px;
  background-color: var(--basic-neutral-background-nav);
} */

.order h2, .filters-grid legend, .filters-features legend, .filters-cost {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.filters-cost, .max-cost, .min-cost {
  background: var(--basic-neutral-background-nav);
  border: none;
}

.order-list, .filters-grid-list, .filters-features-list {
  list-style: none;
}

fieldset {
  border: none;
}

.max-cost, .min-cost {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.templates-item {
  position: relative;
}

.templates-item .templates-item-background {
  display: none;
  position: absolute;
  bottom: 0;
}

.templates-item:hover .templates-item-background {
  display: block;
}

/* div.templates-item-background {
  display: none;
} */

/* .templates-item:hover {
  display: block;
} */

/* div.templates-item-background + img:hover {
  display: block;
} */

/* ----------------------------------------------------------- */

.rub {
  line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid #000;
  display: inline-block;
}

/* ----------------------------------------------------------- */

/* Grid */

.page {
  height: 100%;
}
