:root {
  --basic-black: #000000;
  --basic-red: #fb565a;
  --basic-dark-red: #e74246;
  --basic-extra-dark-red: #d7373b;
  --basic-green: #00ca74;
  --basic-dark-green: #00bc6c;
  --basic-extra-dark-green: #00aa62;
  --basic-yellow: #efc849;
  --basic-dark-yellow: #eab534;
  --basic-extra-dark-yellow: #e5a722;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;
  --basic-neutral-background-nav: #eeeeee;
  --special: #663d15;
  --basic-grey: #e1e1e1;
  --basic-dark-grey: #dfdfdf;
  --basic-extra-dark-grey: #d5d5d5;
  --basic-dark-toggle-grey: #ababab;
  --basic-cod-grey: #283136;
  --basic-grey-30: #ffffff30;
  --basic-grey-light: #666666;
  --basic-very-light-grey: #cfcfcf;
  --basic-black-30: #00000030;
  --basic-black-60: #00000060;
  --basic-black-10: #00000010;
  --basic-grey-extra-light: #f7f7f7;
  --basic-black-66: #00000066;
  --basic-black-40: #00000040;
  --basic-extra-light-blue: #d7dcde;
  --basic-heather: #b4b9bb;
  --basic-gainsboro: #dbdbdb;
  --basic-grey-shadow: #0001011a;
  --basic-light-light-grey: #f1f1f1;
  --basic-matterhorn: #4d4d4d;
  --basic-charcoal: #444444;
  --basic-pattens-blue: #d7dcdf;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-neutral-background-nav);
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-top: 49px;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-neutral-background-nav);
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  gap: 40px;
}

.cart-navigation {
  margin-top: 70px;
  justify-self: end;
}

.cart-navigation .cart-link {
  padding-left: 50px;
  position: relative;
  margin-top: 5px;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 45px;
  width: 437px;
  min-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 75px;
  list-style: none;
}

.site-navigation li:last-child {
  margin-left: 1px;
}

/* User navigation */

.site-navigation a,
.cart-navigation a {
  color: var(--basic-black);
  display: block;
}

.site-navigation a[href="#"] {
  position: relative;
  padding-bottom: 15px;
}

.site-navigation a[href="#"]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: var(--basic-red);
  width: 71px;
  min-height: 2px;
  margin-left: 4px;
}

.cart-navigation a:hover,
.site-navigation a:hover {
  color: var(--basic-red);
}

.cart-navigation a:focus,
.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-header-logo img:hover {
  opacity: 0.7;
}

.main-header-logo:focus {
  opacity: 0.3;
}

/* Container */

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Features */

.features {
  padding-top: 1px;
  margin-bottom: 0px;
  padding-left: 156px;
  padding-right: 20px;
  background-color: var(--basic-neutral-background-nav);
}

.feature-item-slogan p {
  width: 416px;
  min-height: 48px;
  margin-top: 28px;
  color: var(--basic-cod-grey);
}

.feature-item-slogan h3 {
  margin-bottom: 0px;
  margin-top: 79px;
}

.feature-item-slogan .button {
  margin-top: 24px;
  width: 240px;
}

.slide2 p {
  margin-top: 39px;
}

.slide3 .button {
  margin-top: 12px;
}

.slide3 p {
  margin-top: 39px;
}

.slide2 .button {
  margin-top: 12px;
}

.slide {
  display: none;
}

.feature-item .feature-item-slogan {
  width: 538px;
  min-height: 111px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: left;
}

.feature-item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: right;
  margin-right: 3px;
}

.feature-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.features-list {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  list-style: none;
  text-transform: none;
}

.feature-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.features .button {
  min-height: 50px;
  width: 240px;
  background: var(--basic-red);
}

/* Services */

.services-list {
  list-style: none;
  display: flex;
  gap: 100px;
  box-sizing: border-box;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto 121px;
}

.services-item {
  width: 300px;
  text-align: left;
}

.services-item {
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0px;
}

.services-item .button {
  margin-top: 3px;
}

.services-item p {
  margin-bottom: 30px;
  text-transform: none;
  font-weight: 400;
  color: var(--basic-cod-grey);
}

/* Button */

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  min-height: 50px;
  width: 160px;
  border: none;
  border-radius: 3px;
}

.grey-button {
  margin: 0px;
  margin-top: 22px;
  padding: 0px;
  width: 260px;
  color: var(--basic-black);
  background: var(--basic-neutral-background-nav);
}

.grey-button:hover {
  background: var(--basic-dark-grey);
}

.grey-button:focus,
.grey-button:active {
  background: var(--basic-extra-dark-grey);
  color: var(--basic-black-30);
  box-shadow: 0px 3px 0px 0px var(--basic-grey-shadow) inset;
}

.red-button {
  background: var(--basic-red);
}

.green-button {
  background: var(--basic-green);
}

.yellow-button {
  background: var(--basic-yellow);
}

.red-button:hover {
  background: var(--basic-dark-red);
}

.red-button:focus {
  background: var(--basic-extra-dark-red);
  color: var(--basic-grey-30);
  box-shadow: 0px 3px 0px 0px var(--basic-grey-shadow) inset;
}

.green-button:hover {
  background: var(--basic-dark-green);
}

.green-button:focus {
  background: var(--basic-extra-dark-green);
  color: var(--basic-grey-30);
  box-shadow: 0px 3px 0px 0px var(--basic-grey-shadow) inset;
}

.yellow-button:hover {
  background: var(--basic-dark-yellow);
}

.yellow-button:focus {
  background: var(--basic-extra-dark-yellow);
  color: var(--basic-grey-30);
  box-shadow: 0px 3px 0px 0px var(--basic-grey-shadow) inset;
}

/* Company */

.company {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  min-height: 413px;
  display: flex;
  gap: 150px;
  margin: 0 auto 25px;
  padding: 0 20px;
}

.company::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 1158px;
  bottom: 550px;
  min-height: 2px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: var(--basic-neutral-background-nav);
}

.company-wrapper {
  padding-bottom: 72px;
}

.company-wrapper * {
  margin: 0px;
  padding: 0px;
}

.company-wrapper h3 {
  margin-top: 32px;
}

.company-wrapper h4 {
  margin-top: 39px;
}

.company-wrapper ul {
  margin-top: 24px;
}

.company-wrapper .company-item {
  margin-bottom: 24px;
}

.company-pride-list-wrapper > p {
  text-align: center;
  margin: 0px;
  font-weight: 700;
}

.company-pride-list-wrapper p {
  margin: 0px;
  margin-top: 28px;
}

.company-pride-list {
  display: flex;
  gap: 22px;
  width: 360px;
  padding-left: 0;
  list-style: none;
}

.company-pride-list-wrapper > ul {
  margin-top: 2px;
}

.company-pride-item .advantage {
  margin-top: 14px;
  color: var(--basic-cod-grey);
}

.company h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: none;
}

.company h4 {
  font-weight: 700;
  color: var(--basic-cod-grey);
}

.company-wrapper p {
  margin-top: 35px;
  text-transform: none;
  font-weight: 400;
  color: var(--basic-cod-grey);
}

.company-list {
  list-style: none;
  text-transform: none;
  margin-left: 35px;
}

.company-item {
  position: relative;
  color: var(--basic-cod-grey);
}

.company-item::before {
  content: "";
  position: absolute;
  bottom: 12px;
  width: 25px;
  min-height: 2px;
  margin-left: -36px;
  background-color: var(--basic-red);
}

.company-pride-item .advantage {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.company-pride-item .percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.percent span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

/* Clients */

.clients {
  margin-bottom: 117px;
}

.clients-list {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  display: flex;
  gap: 95px;
  padding: 0 20px;
  margin: 0 auto 80px;
}

.clients-list::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 1158px;
  bottom: 146px;
  min-height: 2px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: var(--basic-neutral-background-nav);
}

.clients-list::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 1158px;
  top: 133px;
  min-height: 2px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: var(--basic-neutral-background-nav);
}

.clients-list {
  list-style: none;
}

.clients-list .barbershop_logo {
  opacity: 0.2;
}

.clients-list .barbershop_logo:hover {
  opacity: 1;
}

.clients-list .barbershop_logo:active {
  opacity: 0.1;
}

.clients-list .htmlacademy_logo {
  opacity: 0.2;
}

.clients-list .htmlacademy_logo:hover {
  opacity: 1;
}

.clients-list .htmlacademy_logo:active {
  opacity: 0.1;
}

.clients-list .pink_logo {
  opacity: 0.2;
}

.clients-list .pink_logo:hover {
  opacity: 1;
}

.clients-list .pink_logo:active {
  opacity: 0.1;
}

.clients-list .mishka_logo {
  opacity: 0.2;
}

.clients-list .mishka_logo:hover {
  opacity: 1;
}

.clients-list .mishka_logo:active {
  opacity: 0.1;
}

.clients-item {
  position: relative;
}

.clients-item:first-of-type {
  margin-left: 33px;
}

.clients-item::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 2px;
  min-height: 52px;
  margin-left: 50px;
  background-color: var(--basic-neutral-background-nav);
}

.clients-list li:last-child::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 2px;
  min-height: 52px;
  margin-left: 50px;
  background-color: var(--basic-white);
}

.clients-list li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 16px;
  width: 2px;
  min-height: 52px;
  margin-left: 45px;
  background-color: var(--basic-neutral-background-nav);
}

.clients-list li:nth-child(3) {
  margin-top: 18px;
  margin-left: 11px;
}

.clients-list li:first-child {
  margin-top: 15px;
}

.clients-list li:last-child {
  margin-left: 22px;
  margin-top: 6px;
}

/* Main footer */

.main-footer {
  margin-top: 80px;
}

.page-catalog-body .main-footer {
  margin-top: 61px;
}

.footer-wrapper {
  margin: 0px;
  padding: 0px;
}

.footer-address-wrapper {
  position: relative;
  margin: 0px;
  padding: 0px;
  margin-bottom: 69px;
  min-height: 416px;
}

.footer-map {
  display: grid;
  margin: 0;
  padding: 0;
}

.footer-map iframe,
.footer-map img {
  grid-row: 1;
  grid-column: 1/-1;
  width: 100%;
  border: none;
}

.footer-map img {
  height: 416px;
  object-fit: cover;
}

/* Contacts */

.footer-contacts {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: calc(50% - 580px);
  width: 319px;
  min-height: 308px;
  background-color: var(--basic-white);
}

.footer-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 50px 0 23px 50px;
}

.footer-contacts p {
  color: var(--basic-grey-light);
  margin-left: 50px;
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 22px;
}

.footer-contacts .button {
  min-height: 50px;
  width: 219px;
  margin: 0 50px;
}

.footer-slogan {
  padding-left: 140px;
  padding-top: 6px;
}

.footer-slogan h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
  margin-left: 0;
}

.footer-slogan p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-charcoal);
  text-transform: none;
  margin-top: 11px;
}

/* Social button */

.footer-social-slogan-wrapper {
  box-sizing: border-box;
  width: 1200px;
  min-height: 81px;
  margin: 0 auto 68px;
  padding: 0 20px;
  display: flex;
  justify-content: left;
  padding-bottom: 68px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 261px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-slogan h2 {
  display: inline;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  min-height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--basic-grey), var(--basic-grey)),
    linear-gradient(0deg, var(--basic-white), var(--basic-white));
}

/* Modal */

.modal {
  position: fixed;
  display: none;
  margin: auto;
  background-color: var(--basic-white);
  background-position: 0 0;
  box-shadow: 0px 20px 40px 0px var(--basic-black-66);
}

.modal-feedback {
  top: auto;
  bottom: 180px;
  width: 960px;
  left: calc(50% - 480px);
  min-height: 590px;
}

.modal-description {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  text-transform: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-form {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
}

.feedback-form .button {
  min-height: 50px;
  width: 259px;
}

.feedback-form input,
textarea {
  border: 2px solid var(--basic-extra-light-blue);
}

.feedback-form input:hover,
textarea:hover {
  border-color: var(--basic-heather);
}

.feedback-form input:focus,
textarea:focus {
  border-color: var(--basic-black);
}

.feedback-button {
  min-height: 50px;
  width: 219px;
  margin: 0 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  border-radius: 3px;
}

.feedback-button:hover {
  background: var(--basic-dark-red);
}

.feedback-button:focus,
.feedback-button:active {
  background: var(--basic-extra-dark-red);
  color: var(--basic-grey-30);
  box-shadow: 0px 3px 0px 0px var(--basic-grey-shadow) inset;
}

.modal-error .user-email,
.modal-error .full-name-user {
  border-color: var(--basic-dark-red);
}

.user-email::placeholder,
.full-name-user::placeholder,
.user-letter::placeholder {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
  vertical-align: middle;
  color: var(--basic-black);
  opacity: 50%;
}

.user-email,
.full-name-user,
.user-letter {
  text-indent: 16px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  min-height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("../img/catalog/close-cross.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-description {
  margin-left: 100px;
  margin-top: 63px;
}

.feedback-form input[type="email"],
.feedback-form input[type="text"] {
  box-sizing: border-box;
  width: 360px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.feedback-form label {
  margin-bottom: 9px;
}

.feedback-form {
  width: 760px;
  margin-left: 100px;
}

.feedback-form label,
.feedback-form input {
  display: flex;
  flex-direction: column;
}

.feedback-form .feedback-flex {
  display: flex;
  justify-content: space-between;
}

.user-letter {
  width: 100%;
  min-height: 118px;
  border: 2px solid var(--basic-extra-light-blue);
  margin-bottom: 47px;
}

.feedback-form .red-button {
  width: 259px;
  min-height: 50px;
}

/* Pagination" */

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-left: 2px;
  margin-right: 0;
}

.pagination-item span {
  padding-top: 2px;
  vertical-align: middle;
  display: inline-block;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  list-style: none;
}

.pagination-item a {
  width: 50px;
  min-height: 50px;
  line-height: 50px;
  display: block;
  border-radius: 3px;
  color: var(--basic-black);
  background-color: var(--basic-neutral-background-nav);
  text-align: center;
  margin-top: auto;
}

.pagination-item-next a {
  width: 260px;
  min-height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  border-radius: 3px;
  color: var(--basic-black);
  background-color: var(--basic-neutral-background-nav);
}

.pagination-item-current a {
  width: 44px;
  min-height: 44px;
  line-height: 44px;
  border: 3px solid var(--basic-gainsboro);
  border-radius: 3px;
  background-color: var(--basic-white);
}

.pagination-item a:hover {
  background-color: var(--basic-dark-grey);
}


.pagination-item a:focus {
  background-color: var(--basic-extra-dark-grey);
  box-shadow: 0px 3px 0px 0px var(--basic-grey-shadow) inset;
  color: var(--basic-grey-30);
}



/* Catalog */

.manner-list {
  margin-top: 28px;
  margin-left: 266px;
  width: 272px;
  padding-left: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manner-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black-30);
}

.manner-item a {
  color: var(--basic-black-30);
}

.manner-item a:hover {
  color: var(--basic-black-60);
}

.item-picked a {
  color: var(--basic-black);
}

.manner-item a:focus,
.manner-item a:active {
  color: var(--basic-black);
}

.templates-item button {
  height: 50px;
  width: 200px;
  background: var(--basic-red);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  border: none;
}

.templates-item-image {
  width: 358px;
  min-height: 578px;
  margin: 0;
  object-fit: contain;
  background-color: var(--basic-grey-extra-light);
  border: 1px solid var(--basic-black-10);
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.templates-item .rub {
  border-bottom: 1px solid var(--basic-white);
}

.templates-item button:hover {
  background: var(--basic-dark-red);
}

.templates-item button:focus,
.templates-item button:active {
  background: var(--basic-extra-dark-red);
  box-shadow: 0px 3px 0px 0px var(--basic-grey-shadow) inset;
}

.templates-item-background p {
  padding: 0 20px;
}

.templates-item-background a {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: var(--basic-black);
  vertical-align: middle;
  display: inline-block;
  margin-top: 20px;
}

.templates-item-background button {
  margin-top: 13px;
  padding-top: 5px;
  border-radius: 3px;
}

.templates-item-background a:hover {
  color: var(--basic-red);
}

.templates-item-background a:focus,
.templates-item-background a:active {
  color: var(--basic-black-30);
}

.templates-info {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--basic-grey-light);
  overflow-wrap: break-word;
}

.social-button:hover {
  background: linear-gradient(
      0deg,
      var(--basic-dark-red),
      var(--basic-dark-red)
    ),
    linear-gradient(0deg, var(--basic-white), var(--basic-white));
}

.social-button:focus,
.social-button:active {
  background: linear-gradient(
      0deg,
      var(--basic-extra-dark-red),
      var(--basic-extra-dark-red)
    ),
    linear-gradient(0deg, var(--basic-white), var(--basic-white));
  box-shadow: 0px 3px 0px 0px var(--basic-grey-shadow) inset;
}

.social-button:active path,
.social-button:focus path {
  fill-opacity: 0.3;
}

.filters-features-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-cod-grey);
  line-height: 20px;
  text-align: left;
  text-transform: none;
}

.filters-grid-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-cod-grey);
  line-height: 20px;
  text-transform: none;
  width: 100%;
}

.catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 140px;
  box-sizing: border-box;
  width: 1200px;
  margin: 31px auto 0;
  padding: 0 20px;
}

.page-title-wrapper {
  background-color: var(--basic-neutral-background-nav);
}

.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  max-width: 727px;
  text-transform: none;
  margin: 0 auto;
  padding: 71px 0 109px;
}

.main-flex {
  display: flex;
  margin-top: 38px;
}

.order {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  margin-bottom: 37px;
  justify-content: space-between;
}

.order h2 {
  margin-top: 24px;
  margin-bottom: 0;
}

.order-name {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-left: 314px;
}

.cost-name {
  margin: 0;
  padding: 0;
  margin-left: 28px;
  margin-top: 25px;
}

.manner-list .manner-item {
  padding-top: 3px;
}

.filters {
  margin-top: 27px;
  margin-left: 0px;
}

.range-filter {
  margin-top: 45px;
  width: 260px;
}

.cost-range {
  position: relative;
  min-height: 41px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  padding-top: 39px;
  background-color: var(--basic-neutral-background-nav);
  border-radius: 3px;
}

.cost-range .scale {
  min-height: 2px;
  background: var(--basic-pattens-blue);
}

.cost-range .bar {
  width: 70%;
  min-height: 2px;
  background: var(--basic-green);
}

.cost-range .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  min-height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-dark-toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-very-light-grey);
  cursor: pointer;
}

.cost-range .toggle-min {
  left: 18px;
}

.cost-range .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  gap: 5px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-cod-grey);
}

.price-controls input {
  width: 78px;
  min-height: 38px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-cod-grey);
  border: none;
  border-radius: 3px;
  background: var(--basic-neutral-background-nav);
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
}

.price-controls input[type="number"]::-webkit-inner-spin-button,
.price-controls input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.min-price {
  display: flex;
  align-items: baseline;
}

.max-price {
  display: flex;
  padding-left: 29px;
  align-items: baseline;
}

.max-cost {
  width: 80px;
  min-height: 38px;
  margin-left: 12px;
  margin-right: 33px;
}

.min-cost {
  width: 80px;
  min-height: 38px;
  margin-left: 11px;
}

.container h1.page-title {
  display: inline;
}

.order h2:first-child {
  display: inline;
}

.templates-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  row-gap: 24px;
  padding: 0;
  margin: 0;
}

.templates-list p {
  text-transform: none;
}

.filters-cost {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-cost legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters-grid {
  margin-top: 52px;
  margin-left: 0px;
  padding-left: 0px;
}

.filters-form .filters-grid {
  padding: 0px;
}

.filters-grid ul {
  margin-top: 17px;
  width: 208px;
}

.filters-features {
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 30px;
}

.order h2,
.filters-grid legend,
.filters-features legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.order-list,
.filters-grid-list,
.filters-features-list {
  list-style: none;
}

.order-list {
  margin-top: 32px;
  margin-left: 50px;
  padding-left: 0px;
  width: 40px;
  min-height: 10px;
  display: flex;
  justify-content: space-between;
}

.order-list .order-down-item {
  background: url("../img/catalog/icon-down-gray.svg") no-repeat;
  vertical-align: middle;
  display: inline-block;
  opacity: 0.2;
}

.order-list .order-up-item {
  background: url("../img/catalog/icon-up-dir-gray.svg") no-repeat;
  vertical-align: middle;
  display: inline-block;
  opacity: 0.2;
}

.order-up-item a,
.order-down-item a {
  display: block;
  width: 11px;
  min-height: 10px;
}

.order-list .order-down-item:hover {
  opacity: 1;
}

.order-list .order-up-item:hover {
  opacity: 1;
}

.order-list .order-down-item:active {
  background: url("../img/catalog/icon-down-dir-black.svg") no-repeat;
}

.order-list .order-up-item:active {
  background: url("../img/catalog/icon-up-dir-black.svg") no-repeat;
}

.filters-grid-list {
  margin-top: 12px;
  padding-left: 0px;
  margin-top: 4px;
}

.filters-features-list {
  margin-top: 9px;
  padding-left: 0px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  overflow-wrap: break-word;
}

.filter-checkbox:nth-of-type(3) {
  padding-top: 1px;
}

.filter-checkbox:nth-of-type(4) {
  padding-top: 2px;
}

.filter-checkbox:nth-of-type(5) {
  padding-top: 1px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 30px;
  min-height: 23px;
  background-image: url("../img/checkbox-off-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 30px;
  min-height: 23px;
  background-image: url("../img/checkbox-off-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -37px;
  width: 30px;
  min-height: 23px;
  background-image: url("../img/checkbox-on-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:checked:hover + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -37px;
  width: 30px;
  min-height: 23px;
  background-image: url("../img/checkbox-on-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -46px;
  width: 30px;
  min-height: 23px;
  background-image: url("../img/checkbox-on-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -1px;
  width: 17px;
  min-height: 17px;
  border: 4px solid var(--basic-matterhorn);
  border-radius: 50%;
  opacity: 0.6;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  margin-top: 2.5px;
  width: 8px;
  min-height: 8px;
  background-color: var(--basic-matterhorn);
  border-radius: 50%;
  opacity: 0.6;
}

.filter-input-radio:disabled + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -1px;
  width: 17px;
  min-height: 17px;
  border: 4px solid var(--basic-matterhorn);
  border-radius: 50%;
  opacity: 0.1;
}

.filter-input-radio:disabled + label {
  opacity: 0.1;
}

.filter-input-radio:checked:hover + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  margin-top: 2.5px;
  width: 8px;
  min-height: 8px;
  background-color: var(--basic-matterhorn);
  border-radius: 50%;
  opacity: 1;
}

.filter-input-radio:hover + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -1px;
  width: 17px;
  min-height: 17px;
  border: 4px solid var(--basic-matterhorn);
  border-radius: 50%;
  opacity: 1;
}

.filters-form .grey-button {
  margin-top: 25px;
}

fieldset {
  border: none;
}

.max-cost,
.min-cost {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.templates-item {
  min-height: 578px;
  position: relative;
  padding-top: 40px;
  list-style: none;
}

.templates-item:nth-child(2n) {
  margin-right: 0;
}

.templates-item:nth-last-of-type(2) {
  margin-bottom: 0px;
}

.templates-item:nth-last-of-type(1) {
  margin-bottom: 0px;
}

.templates-item .templates-item-background {
  display: none;
  position: absolute;
  text-align: center;
  min-height: 231px;
  width: 360px;
  fill-opacity: 1;
  background: var(--basic-neutral-background-nav);
  bottom: 1px;
  border-radius: 0 0 5px 5px;
}

.templates-item:hover .templates-item-image {
  box-shadow: 0px 6px 15px 0px var(--basic-black-40);
}

.templates-item:hover .templates-item-background {
  display: block;
}

.templates-item::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 360px;
  min-height: 40px;
  background-image: url("../img/templates-over.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.templates-item:hover.templates-item::before {
  opacity: 1;
}

.rub {
  line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid var(--basic-black);
  vertical-align: middle;
  display: inline-block;
}

/* Grid */

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  min-height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Slider */

.slider {
  position: relative;
  margin: 0 auto;
  margin-bottom: 80px;
  background-color: var(--basic-neutral-background-nav);
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: calc(50% - 676px);
  z-index: 20;
  display: flex;
  gap: 17px;
  left: calc(50% - 44px);
  padding-left: 1px;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-image: url("../img/slider-active.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.slide {
  display: none;
}

.slide-current {
  display: grid;
}
